.jumbotron {
    background-color: antiquewhite;
    color: black;
    margin-top: 50px;
}
.btn{

}
footer {
    padding: 10px 10px 0 10px;
    background-color: antiquewhite;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-product{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-comprar{
    width: 100%;
}

.footer-address-icon{
    padding-right: 10 px;
}